@import "../../../variables";

.Logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: $primary-font;
  font-weight: bold;
  max-height: 40px;
  cursor: pointer;

  &:hover {
    .Logo__textContent {
      border-bottom: 4px solid $secondary-color;
      transform: translateY(1px);
    }

    transform: translateY(1px);
    transition: transform .1s;
  }

  &__img {
    max-height: 55px;
    max-width: 50px;
    object-fit: contain;
    margin-right: 3px;
  }

  &__textContent {
    color: #fff;
    border-bottom: 2px solid $secondary-color;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
  }

  &__legko {
    font-size: 3.2rem;
    line-height: 50px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-between;
    font-size: 1.4rem;
    line-height: 18px;
  }

  &__internet {
    font-size: 1.05rem;
    line-height: 20px;
  }
}