@import "../../../variables";

.Logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: $primary-font;
  font-weight: bold;
  max-height: 40px;
  cursor: pointer;
  color: #fff;

  @media (max-width: 900px) {
    max-height: 32px;
  }

  @media (max-width: 390px) {
    max-height: 28px;
  }

  &:hover {
    .Logo__textContent {
      border-bottom: 4px solid $secondary-color;
      transform: translateY(1px);
    }

    transform: translateY(1px);
    transition: transform .1s;
  }

  &__img {
    max-height: 55px;
    max-width: 50px;
    object-fit: contain;
    margin-right: 3px;
    @media (max-width: 900px) {
      margin-right: 0;
      max-height: 35px;
      max-width: 35px;
    }
  }

  &__textContent {
    color: #fff;
    border-bottom: 4px solid $secondary-color;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
  }

  &__legko {
    color: #fff;
    font-size: 3.2rem;
    line-height: 50px;
    @media (max-width: 900px) {
      font-size: 2.25rem;
      line-height: 2.4rem;
    }
    @media (max-width: 390px) {
      font-size: 2rem;
      line-height: 2.2rem;
    }
  }

  &__text {
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-between;
    font-size: 1.4rem;
    line-height: 18px;
    @media (max-width: 900px) {
      margin-left: 3px;
      font-size: 1.2rem;
      line-height: .85rem;
    }
    @media (max-width: 390px) {
      margin-left: 3px;
      font-size: .85rem;
      line-height: .75rem;
    }
  }

  &__internet {
    font-size: 1.05rem;
    line-height: 20px;
    @media (max-width: 900px) {
      font-size: .91rem;
      line-height: .85rem;
    }
    @media (max-width: 390px) {
      font-size: .66rem;
      line-height: .7rem;
    }
  }
}