.Catalog {
  &__list {
    text-decoration: none;
    list-style-type: none;
  }

  &__itemTitle {
    color: #000;
  }

  &__containerItems {
    //margin-left: 20px;
  }

  &__categoryTitle {
    color: #999;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
  }
}

.Categories {
  margin-left: 30px;
  list-style-type: none;
  border-left: 1px dotted #999;

  &__itemTitle {
    color: #000;
  }

  &__containerItems {

  }

  &__categoryTitle {
    color: blue;
    padding: 7px 10px 7px 0;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }
}

