.Cities {
  font-family: PTSans-Regular, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;

  h1 {
    margin-top: 0;
    line-height: 1.5em;
    font-size: 24px;
    font-weight: 700;
    color: #4e4e4e;
    @media (max-width: 950px) {
      padding-left: 20px;
    }
  }

  &__mainContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__textClock {
    white-space: nowrap;
    font-size: 14px;
    color: #4e4e4e;
  }

  &__itemAddress {
    white-space: nowrap;
    font-size: 14px;
    color: #4e4e4e;
  }

  &__itemTitle {
    font-weight: 500;
    color: #000;
  }

  &__acitveItem {
    background-color: #FFF9E5;
    transform: scale(1.05);
    border: 1px solid #E26C2D;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }

  &__mapContainer {
    flex: 1 1;
    height: 500px;
    display: block;
    border: 3px solid #bce072;
    overflow: hidden;
    border-radius: 0 20px 20px 0;
    margin: 0 0 20px 0;
  }

  &__retails {
    min-width: 300px;
    flex: 0 1;
    max-height: calc(100vh - 174px);
    overflow-y: auto;
  }

  &__retailItem {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    border-bottom: 2px solid #b8b8b8;
    padding: 10px 5px 7px 10px;
    cursor: pointer;

    &:hover {
      background: #eaeaea;
      transform: scale(1.02);
      transition: all .2s;
    }

    span {
      margin: 3px 0;
    }

    &:nth-child(2n) {
      border-bottom: 1px solid #E26C2D;
    }

    @media (max-width: 950px) {

    }

  }
}

.address-map {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 16px;
}