@import "../../variables";

@keyframes colorAlert {
  0% {
    background-color: #FFF9E5;
    transform: scale(1);
  }

  50% {
    background-color: #fc8507;
    transform: scale(1.08);
    border-radius: 16px;
  }


  100% {
    background-color: #FFF9E5;
    transform: scale(1);
  }
}

@keyframes textColorWhite {
  0% {
    color: #000;
  }

  50% {
    color: #fff;
  }


  100% {
    color: #000;
  }
}

.Cities {
  font-family: $primary-font;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 15px;

  h1 {
    margin-top: 0;
    font-weight: bold;
    line-height: 1.5em;
    font-size: 24px;
    color: $primary-color;
    @media (max-width: 1250px) {
      padding-left: 20px;
    }
  }

  &__mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    color: #fff;
  }

  &__buttonContainer {

  }

  &__startContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &__menuButton {
    cursor: pointer;
    outline: none;
    font-weight: bold;
    background: #fff;
    color: $primary-color;
    padding: 8px 15px;
    border: 1px solid $primary-color;
    border-radius: 15px;
    justify-content: center;
    margin-right: 20px;

    &_notMargin {
      margin: 0;
    }
  }

  &__menuButtonActive {
    background: $primary-color;
    color: #fff;
  }

  &__dropdownCities {
    color: $primary-color;
    font-size: 1.1rem;
    display: flex;
    align-items: center;

    & > p {
      margin-right: 10px;
    }
  }

  &__worksNow {
    color: $primary-color;
    font-size: 1.1rem;
  }

  &__textClock {
    white-space: nowrap;
    font-size: 14px;
    color: #4e4e4e;
  }

  &__itemAddress {
    white-space: nowrap;
    font-size: 14px;
    color: #4e4e4e;
  }

  &__itemTitle {
    font-weight: 500;
    color: #000;
  }

  &__mapContainer {
    flex: 1 1;
    min-height: 650px;
    display: block;
    border: 3px solid #bce072;
    overflow: hidden;
    border-radius: 15px;
  }

  &__retails {
    flex: 1 0;
    padding: 40px 0;

    ul {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      li {
        flex: 0 1 33%
      }

    }
  }

  &__retailItem {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 10px;
    cursor: pointer;

    span {
      margin: 3px 0;
    }

    &:hover:not(.Cities__acitveItem) {
      background: rgba(31, 83, 119, .1);
    }
  }

  &__acitveItem {
    background-color: #FFF9E5;
    transform: scale(1.04);
    transition: transform .2s;
    border: 1px solid #E26C2D;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

    &.Cities__retailItemList {
      transform: scale(1.02);
    }
  }

  &__itemAddress, &__textClock {
    font-size: .95rem;
  }

  &__itemTitle {
    color: $primary-color;
    font-weight: bold;
    font-size: 1.1rem;
  }

  &__lineDecor {
    height: 2px;
    width: 120px;
    background: $secondary-color;
  }

  &__retailItemList {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-top: 2px solid $secondary-color;
    padding: 0 10px;

    &:hover {
      background-color: #FFF9E5;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
  }

  &__blockAddress {
    display: flex;
    flex-direction: column;

    span {
      margin: 2px 0;
    }
  }

  &__blockItem {
    padding: 10px 0;
    flex: 0 1 33%;
    display: flex;
    align-items: center;
  }

  .Cities__blockAddress.Cities__blockItem {
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__listButtonContainer {
    justify-content: flex-end;
  }
}

.address-map {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 16px;
}