.BlockNews {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  width: 100%;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1430px) {

  }

  &__newsBlock {
    max-width: 100%;
    padding: 0 20px;
  }

  &__newsBlock h2 {
    color: #737373;
    font-family: bold, serif;
    font-size: 32px;
    margin-bottom: 30px;
    padding: 0 15px;
  }

  &__newsBlock h2 a {
    color: #737373;
    font-family: bold, serif;
    font-size: 32px;
    margin-bottom: 30px;
  }

  &__item {
    max-width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
    transition: all .5s;
  }

  &__image {
    height: 277px;
  }

  &__image img {
    object-fit: cover;
    height: 277px;
    width: 100%;
  }

  &__text {
    padding: 10px 20px;
  }

  &__text h3 a {
    font-size: 18px;
    line-height: normal;
    font-weight: normal;
    margin: 15px 0;
    color: #000;
  }

  &__date {
    font-family: obliq, serif;
    color: #97c5d4;
    font-size: 16px;
    margin: 10px 0 20px;
  }

  &__btnslide {
    display: flex;
    justify-content: center;
  }

  &__btnslide div {
    width: 30px;
    height: 30px;
    border: 1px solid #737373;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 20px;
    color: #737373;
    margin: 0 5px;
  }

  &__knopi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  &__knopi a {
    color: #000;
  }

  .swiper-container {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .swiper-slide {
    width: 300px;
    height: 100%;
  }
}