.PromoBlock {
  display: flex;
  position: relative;
  flex-direction: column;
  //max-height: 530px;
  width: 100%;

  &__button {
    font-family: PTSans-Bold, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 0 20px;
    height: 45px;
    color: #1f5377;
    outline: none;
    background: transparent;
    display: flex;
    align-items: center;
    border: 1px solid #1f5377;
    border-radius: 12px;
    cursor: pointer;
    transition: color .2s, box-shadow .2s;

    &:hover {
      transition: all .1s;
      color: #95c11f;
      box-shadow: 2px 5px 7px 0 rgba(0, 0, 0, 0.16);
    }
    &:active {
      transform: scale(.97);
      box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.16);
    }
  }

  .slideButton {
    opacity: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    color: #333;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    border-width: 0;
    position: absolute;
    top: calc(50% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: opacity .3s ease, color .3s, background .3s;
    cursor: pointer;

    &:hover {
      background: #1f5377;
      color: #fff;
      transition: color .3s, background .3s;
    }
  }

  .next {
    right: 1%;
  }

  .prev {
    left: 1%
  }

  &:hover .slideButton {
    opacity: 1;
    transition: all .25s;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .swiper-slide {
    width: 298.75px;
    height: 100%;
  }
}