@import "../../variables";

.CardPage {
  font-family: $primary-font;

  @media(max-width: 800px) {
    padding-bottom: 60px;
  }

  a {
    color: blue;
    cursor: pointer;
  }

  &__mobile {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
  }

  &__titleContainer {
    display: flex;
    flex-direction: column;
    margin: 0 0 24px;

    @media(max-width: 800px) {
      max-width: 450px;
      width: 100%;
      align-self: center;
      text-align: left;
    }

    p {
      font-family: inherit;
      font-size: 17px;
      font-weight: 400;
      line-height: 24px;
      color: #333;
      margin: 0;
      @media(max-width: 800px) {
        font-size: 16px;
      }
    }
  }

  &__title {
    font-family: inherit;
    font-size: 32px;
    line-height: 40px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    @media(max-width: 800px) {
      font-size: 22px;
      line-height: 24px;
    }
  }

  &__like {
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    color: red;
    margin-left: 15px;
    font-size: 26px;
    @media(max-width: 800px) {
      position: absolute;
      top: 0;
      right: 0;
    }

    span {
      color: #333;
      font-weight: bold;
      font-size: 16px;
      margin: 0 0 0 10px;
      @media(max-width: 800px) {
        font-size: 14px;
        margin: 0 0 0 5px;
      }
    }
  }

  &__contentContainer {
    display: flex;
    flex-wrap: wrap;
    @media(max-width: 800px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__imageContainer {
    flex: 1 0 30%;
    margin: 0 60px 15px 0;
    max-width: 320px;
    width: 100%;
    @media (max-width: 1130px) {
      margin: 0 30px 15px 0;
    }
    @media(max-width: 800px) {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 100%;
    }
  }

  &__image {
    color: #999;
    min-width: 320px;
    max-height: 320px;
    object-fit: contain;

    @media(max-width: 800px) {
      min-width: 250px;
      max-height: 250px;
    }
  }

  &__caption {
    color: #999;
    font-size: 13px;
    max-width: 320px;
    @media(max-width: 800px) {
      width: 100%;
      max-width: 450px;
      text-align: left;
    }
  }

  &__priceContainer {
    max-width: 380px;
    width: 100%;
    flex: 1 0 30%;
    margin: 0 60px 15px 0;
    display: flex;
    flex-direction: column;

    @media (max-width: 1130px) {
      margin: 0 30px 15px 0;
    }
    @media (max-width: 850px) {
      margin: 0 0 15px 0;
      text-align: right;
      max-width: 450px;
    }
  }

  &__priceContent {
    margin: 0 0 20px;
  }

  &__priceText {
    color: #999;
    font-size: 15px;
    line-height: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 32px;
    @media (max-width: 800px) {
      font-size: 26px;
    }
  }

  &__amount {
    display: flex;
    padding-left: 2px;
    padding-bottom: 16px;
    @media (max-width: 800px) {
      flex-wrap: wrap;
    }
  }

  &__amountBlock {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    max-width: 140px;
    min-width: 70px;
    min-height: 88px;
    width: 100%;
    margin-right: 8px;
    padding: 12px;
    text-align: center;
    text-decoration: none;

    @media (max-width: 800px) {
      max-width: 120px;
      min-height: 65px;
      font-size: 12px;
      line-height: 14px;
      padding: 6px;
      margin-right: 5px;
    }

    &:hover {
      outline: 2px solid #fc8507;
    }

    span {
      margin: 1px 0;
    }
  }

  &__activePrice {
    outline: 2px solid #fc8507;
  }

  &__amountPrice {
    color: #999;
  }

  &__buttons {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 850px) {
      flex-direction: column;
    }
  }

  &__button {
    outline: none;
    font-size: 18px;
    padding: 15px 10px;
    min-width: 182px;
    text-align: center;
    width: 100%;
    flex-basis: 45%;
    flex-grow: 1;
    margin: 5px 5px 5px 0;

    color: #fff;
    border-radius: 8px;

    &:hover {
      background-image: linear-gradient(to bottom, #ffbc0b, #ff7400);
      box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
      border-top-color: #ffbc0b;
      border-bottom-color: #ff7400;
    }
  }

  &__priceCaption {
    margin-top: auto;
  }

  &__buttonToCart {
    background: linear-gradient(to top, #fc8507, #ffa218);
    border: 1px solid transparent;
    border-top-color: #fc8507;
    border-bottom-color: #ffa218;
  }

  &__buttonBuy {
    color: #333;
    background: #fff;
    border: 1px solid #d9d9d9;

    &:hover {
      background-image: linear-gradient(to bottom, #ffbc0b, #ff7400);
      box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
      color: #fff;
      border-color: transparent;
      border-top-color: #ffbc0b;
      border-bottom-color: #ff7400;
      font-weight: bold;
    }
  }


  &__descriptionContainer {
    flex: 1 1 30%;
    max-width: 380px;
    font-size: 17px;
    line-height: 24px;
    color: #999;
    @media(max-width: 800px) {
      max-width: 450px;
      width: 100%;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px;
  }

  &__maker {

  }

  &__textCharacteristic {
    color: #000;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__moreInfo {
    margin-top: 30px;
    font-weight: normal;

    h3 {
      font-size: 24px;
      line-height: 28px;
    }

    h4 {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 6px;
    }

    p {
      font-size: 17px;
      line-height: 24px;
    }
  }

  &__instructionBlock {
    margin: 20px 0;
  }

  &__pathname {
    display: inline-block;
    color: gray;

    &:last-child .CardPage__pathArrow {
      display: none;
    }
  }

  a.CardPage__pathItem {
    color: #808080;
    cursor: pointer;

    &:hover {
      color: blue;
    }
  }

  &__pathArrow {
    color: gray;
    cursor: default;
    margin: 0 5px;
  }

}