.Cart {
  display: flex;
  flex-direction: column;
  font-family: PTSans-Regular, Helvetica, Arial, sans-serif;
  padding: 0 15px;
  @media (max-width: 800px) {
    padding: 0;
    overflow: hidden;
  }

  h1 {
    margin-top: 0;
    @media (max-width: 800px) {
      padding: 0 15px;
      margin-top: 20px;
      font-size: 22px;
    }
  }

  &__mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 950px) {
      flex-direction: column;
    }

  }

  &__itemContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1;
  }

  &__item {
    margin: 0 0 10px 0;
  }

  &__pricePanel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: 800px) {
      width: 100%;
      max-width: 400px;
    }

  }

  &__retail {
    display: flex;
    flex-direction: column;

    p {
      color: #777;
    }

    span {
      color: #333;
      margin: 10px 0 20px;
    }
  }

  &__button {
    outline: none;
    font-size: 18px;
    padding: 15px 10px;
    min-width: 182px;
    text-align: center;
    width: 100%;
    flex-basis: 45%;
    flex-grow: 1;
    margin: 5px 5px 5px 0;
    cursor: pointer;

    color: #fff;
    border-radius: 8px;

    &:hover {
      color: #fff;
      background-image: linear-gradient(to bottom, #ffbc0b, #ff7400);
      box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
      border-top-color: #ffbc0b;
      border-bottom-color: #ff7400;
    }
  }

  &__buttonToCart {
    background: linear-gradient(to top, #fc8507, #ffa218);
    border: 1px solid transparent;
    border-top-color: #fc8507;
    border-bottom-color: #ffa218;
  }

  &__resultPrice {
    white-space: nowrap;
    font-weight: bold;
    font-size: 20px;
    padding: 0 0 20px 0;
  }

  &__menu {
    padding-left: 10px;
  }

  &__choiceRetail {
    padding: 0 0 20px;
    display: flex;
    flex-direction: column;
    @media (max-width: 800px) {
      padding-top: 20px;
    }

  }

  &__titleChoice {
    font-size: 22px;
    font-weight: bold;
    margin: 15px 0;
    @media (max-width: 800px) {
      font-size: 16px;
    }
  }

  &__blockMoreItems {
    max-width: 860px;
    padding: 0;
  }

  &__blockTitle {
    display: flex;
    justify-content: space-between;
    max-width: 860px;
    align-items: center;
  }

  &__buttonMap {
    color: #000;
    border: 1px solid #737373;
    max-width: 300px;
  }

}