@import "../../variables";

.Cart {
  font-family: $primary-font;
  color: $primary-color;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  @media (max-width: 800px) {
    padding: 0 0 60px;
    overflow: hidden;
    align-items: center;
  }

  &__topPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    width: 100%;
    align-self: center;
    margin: 0 auto;
    padding: 0 10px 15px;
  }

  &__pageTitle {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__pageNumber {
    font-family: $font-number;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid $primary-color;
    border-radius: 50%;
    color: $primary-color;
    font-size: 1.2rem;
    font-weight: bold;

    &_active {
      background-color: $primary-color;
      color: #fff;
    }
  }

  &__pageName {
    font-size: 1.2rem;
    margin-left: 15px;
  }

  &__pageArrow {
    font-size: 36px;
  }

  h1 {
    margin-top: 0;
    @media (max-width: 800px) {
      padding: 0 15px;
      margin-top: 20px;
      font-size: 22px;
      max-width: 450px;
      width: 100%;
      text-align: left;
    }
  }

  &__alert {
    font-size: 20px;
    padding: 10px 5px;
    background-color: #fff;
    color: darkred;
    max-width: 860px;
  }

  &__rightPanel {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 350px;
    @media (max-width: 1200px) {
      max-width: 100%;
    }
  }

  &__containerProductsPage {
    display: flex;
    flex-direction: column;
  }

  &__mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 1200px) {
      flex-direction: column;
    }

  }

  &__containerInfo {
    font-size: 1.1rem;
    width: 100%;
    max-width: 820px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__infoBlock-title {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }

  &__infoBlock-info {
    margin: 7px 0;
  }

  &__infoBlock-minPriceProducts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -20px;
    padding: 7px 20px;
    cursor: default;

    &:not(:last-child) {
      border-bottom: 1px dashed $bg-color;
    }

    &:hover {
      background-color: #FCFCEE;
    }
  }

  &__infoBlock-productTitle {
    margin-bottom: 5px;
    color: #000;
    font-size: .9rem;
    font-weight: 500;
  }

  &__infoBlock-streetRetail {
    display: flex;
    color: #000;
    font-weight: 500;
    font-size: 1rem;
  }

  &__infoBlock-brand {
    margin-right: 10px;
    color: #000;
  }

  &__infoBlock-streetText {

    margin-right: 7px;
    color: #000;
  }

  &__titlePanel {
    padding: 10px 0 15px;
    font-weight: bold;
    font-size: 1.4rem;
    color: #000;
  }

  &__promoContainer {
    margin-top: 15px;
  }

  &__promoBlock {
    border: 1px solid $primary-color !important;
    border-radius: 20px !important;
    max-width: 100% !important;
  }

  &__itemContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid $primary-color;
    border-radius: 15px;

    @media (min-width: 1200px) {
      margin-right: 10px;
    }

    & > div {
      border-bottom: 1px solid $primary-color;
      border-radius: 0;
    }

    & > div:first-child {
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
    }

    & > div:last-child {
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      margin-bottom: 0;
      border-bottom: none;
    }
  }

  &__item {
    margin: 0 0 10px 0;
  }

  &__pricePanel {
    padding: 25px 30px;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    color: #000;
    background-color: $bg-color-light;
    box-shadow: $box-shadow;

    @media (min-width: 801px) and (max-width: 1200px) {
      align-items: flex-end;
      background-color: transparent;
      box-shadow: none;
    }

    @media (max-width: 800px) {
      width: 100%;
      max-width: 450px;
    }

  }

  &__retail {
    display: flex;
    flex-direction: column;
    color: #777;
  }

  &__address {
    color: $primary-color;
    font-size: 1.1rem;
    margin: 10px 0 20px;
  }

  &__warningMessage {
    font-weight: bold;
    font-size: 1.1rem;
    margin: 10px 0 20px;
  }

  &__button {
    outline: none;
    font-size: 18px;
    padding: 15px 10px;
    min-width: 182px;
    text-align: center;
    width: 100%;
    flex-basis: 45%;
    flex-grow: 1;
    margin: 5px 5px 5px 0;
    cursor: pointer;

    color: #fff;
    border-radius: 8px;

    &:hover {
      color: #fff;
      background-image: linear-gradient(to bottom, #1f5377, #1F3277);
    }
  }

  &__buttonToCart {
    min-width: 182px;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    background: $primary-color;
    color: #fff;

    cursor: pointer;
    outline: none;
    font-weight: bold;
    padding: 15px;
    border: 1px solid $primary-color;
    border-radius: 25px;
    justify-content: center;

    &:hover {
      background-image: linear-gradient(to bottom, #1f5377, #1F3277);
    }
  }

  &__resultPrice {
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    font-size: 1.15rem;
    padding: 0 0 20px 0;
    display: flex;
    justify-content: center;
    width: 100%;

    @media (max-width: 1200px) {
      font-size: 1.3rem;
    }
  }

  &__menu {
    padding-left: 10px;
  }

  &__choiceRetail {
    padding: 0 0 20px;
    display: flex;
    flex-direction: column;
    @media (max-width: 800px) {
      padding-top: 20px;
      width: 100%;
      align-items: center;
    }

  }

  &__choiceRetailTitle {
    color: #000;
    font-size: 1.6rem;
    padding: 5px 0 20px;
  }

  &__titleChoice {
    font-size: 22px;
    font-weight: bold;
    margin: 15px 0;
    @media (max-width: 800px) {
      font-size: 16px;
      padding-left: 15px;
      max-width: 450px;
      width: 100%;
    }
  }

  &__blockMoreItems {
    max-width: 860px;
    padding: 10px 0 !important;

    @media (max-width: 800px) {
      border: none;
      max-width: 450px;
      width: 100%;
    }
  }

  &__blockTitle {
    display: flex;
    justify-content: space-between;
    max-width: 860px;
    align-items: center;
    padding-top: 20px;
  }

  //&__buttonMap {
  //  color: #000;
  //  border: 1px solid #737373;
  //  max-width: 300px;
  //}

  &__clearBtn {
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      border-bottom: 1px dotted $primary-color;
      color: blue;
    }
  }

  &__menuButton {
    cursor: pointer;
    outline: none;
    font-weight: bold;
    background: #fff;
    color: $primary-color;
    padding: 8px 15px;
    border: 1px solid $primary-color;
    border-radius: 15px;
    justify-content: center;
    margin-right: 20px;

    &_active {
      background: $primary-color;
      color: #fff;
    }

    &:active {
      background: $primary-color;
      color: #fff;
    }
  }


}