.HeaderTop {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 33px;
  min-height: 33px;
  max-height: 33px;

  padding: 5px 15px;
  background-color: #fc8507;

  font-family: PTSans-Regular, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 32px;
  color: #fff;

  &__link {
    color: #fff;
    text-decoration: none;
    padding-left: 20px;

    &:hover {
      opacity: .7;
    }
  }

  &__headItems {
    flex: 1 1;
    list-style-type: none;
    display: flex;
    color: #fff;
  }

  &__headItem {
    display: flex;
    align-items: center;
    padding: 0 7px;
    cursor: pointer;

    &:hover {
      opacity: .7;
    }

    &:first-child {
      margin-right: 170px;
    }

    &:last-child {
      justify-self: flex-end;
    }

    i {
      color: #fff;
      font-size: 14px;
      margin-right: 5px;
    }
  }
}