@import "../../variables";

.HeaderTop {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 33px;
  min-height: 33px;
  max-height: 33px;

  //padding: 5px 15px;
  background-color: #fff;

  font-family: $primary-font;
  font-weight: bold;
  font-size: 1rem;
  line-height: 32px;
  color: $primary-color;

  &__link {
    color: $primary-color;
    text-decoration: none;
    padding-left: 20px;

    &:hover {
      color: $secondary-color;
    }
  }

  &__development {
    &:hover {
      color: red;
      text-decoration: line-through;
    }
  }

  &__headItems {
    flex: 1 1;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    color: #fff;
    max-width: 550px;
  }

  &__headItem {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      color: $secondary-color;
    }

    &:first-child {
      width: 170px;
      position: relative;

      &:hover {
        opacity: 1;
      }
    }

    &:last-child {
      justify-self: flex-end;
    }

    span {
      &:hover {
        opacity: .7;
      }
    }

    i {
      color: #fff;
      font-size: 14px;
      margin-right: 5px;
    }
  }
}