.HeaderTop {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 33px;
  min-height: 33px;
  max-height: 33px;

  padding: 5px 15px;
  background-color: #fff;

  font-family: bold, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 32px;
  color: #1f5377;

  &__link {
    color: #1f5377;
    text-decoration: none;
    padding-left: 20px;

    &:hover {
      color: #7F8F18;
    }
  }

  &__headItems {
    flex: 1 1;
    list-style-type: none;
    display: flex;
    color: #fff;
  }

  &__headItem {
    display: flex;
    align-items: center;
    padding: 0 7px;
    cursor: pointer;

    &:hover {
      color: #7F8F18;
    }

    &:first-child {
      margin-right: 100px;
      width: 170px;
      position: relative;

      &:hover {
        opacity: 1;
      }
    }

    &:last-child {
      justify-self: flex-end;
    }

    span {
      &:hover {
        opacity: .7;
      }
    }

    i {
      color: #fff;
      font-size: 14px;
      margin-right: 5px;
    }
  }
}