<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
        content="Карта Легко - это карта, с которой легко экономить. Получайте повышенные скидки до 15% у партнеров программы,  участвуйте в уникальных акциях только для владельцев карт, экономьте с каждой покупкой.">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/owl.theme.default.css">
  <link rel="stylesheet" href="css/owl.carousel.css">
  <link rel="stylesheet" href="css/jasny-bootstrap.min.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css"/>
  <link rel="stylesheet" href="css/style.css">
  <title>Бонусная карта Легко</title>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
      m[i] = m[i] || function () {
        (m[i].a = m[i].a || []).push(arguments)
      };
      m[i].l = 1 * new Date();
      k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(53693587, "init", {
      clickmap: true,
      trackLinks: true,
      accurateTrackBounce: true,
      webvisor: true
    });
  </script>
  <noscript>
    <div><img src="https://mc.yandex.ru/watch/53693587" style="position:absolute; left:-9999px;" alt=""/></div>
  </noscript>
  <!-- /Yandex.Metrika counter -->
</head>

<body>
<header>
  <div class="headbg">
    <div class="container">
      <div class="row">
        <div class="logo fleft">
          <a href="#">
            <img src="images/logo.png" alt="logo"/>
          </a>
        </div>
        <div class="quest fright">
          <a href="#" data-toggle="modal" data-target="#auth">задать вопрос</a>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="navblock">
  <div class="container">
    <div class="row">
      <ul>
        <li>
          <a href="#about">о карте</a>
        </li>
        <li>
          <a href="#sale">скидки</a>
        </li>
        <li>
          <a href="#partner">партнеры</a>
        </li>
        <li>
          <a href="#faq">вопрос-ответ</a>
        </li>
        <li>
          <a href="#contacts">контакты</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
        <div class="spangroup">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>

      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul>
        <li>
          <a href="#about">о карте</a>
        </li>
        <li>
          <a href="#sale">скидки</a>
        </li>
        <li>
          <a href="#partner">партнеры</a>
        </li>
        <li>
          <a href="#faq">вопрос-ответ</a>
        </li>
        <li>
          <a href="#contacts">контакты</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="about">
  <div class="container">
    <div class="row">

      <div class="about-top">
        <div class="slidermain col-md-7 col-xs-12">
          <div class="owl-carousel owl-carousel-main">
            <div class="item"><a href="#"><img src="images/slider/img2.png"/> </a></div>
            <div class="item"><a href="#"><img src="images/slider/img1.png"/> </a></div>
            <div class="item"><a href="#"><img src="images/slider/img3.png"/> </a></div>
            <div class="item"><a href="#"><img src="images/slider/img4.png"/> </a></div>
            <div class="item"><a href="#"><img src="images/slider/img5.png"/> </a></div>
            <div class="item"><a href="#"><img src="images/slider/img6.png"/> </a></div>
            <div class="item"><a href="#"><img src="images/slider/img7.png"/> </a></div>
          </div>
        </div>
        <div class="count col-md-6 col-xs-12">
          <div class="top">подаренные бонусы</div>
          <div class="numb" data-from="0" data-to="32565" data-speed="1000"></div>
          <div class="bottom">бонусов</div>
        </div>
      </div>

      <div class="whatisit" id="about">
        <h3>Что такое бонусная карта Легко?</h3>
        <p>единая карта, с которой легко быть здоровым</p>
        <div class="items">
          <div class="item col-md-4 col-xs-12">
            <div class="images">
              <img src="images/about/cart.png" alt="cart"/>
            </div>
            <div class="text">
              Приобретайте карту у партнеров-участников
            </div>
          </div>
          <div class="item col-md-4 col-xs-12">
            <div class="images">
              <img src="images/about/wallet.png" alt="cart"/>
            </div>
            <div class="text">
              Получайте бонусы с каждой покупки
            </div>
          </div>
          <div class="item col-md-4 col-xs-12">
            <div class="images">
              <img src="images/about/sales.png" alt="cart"/>
            </div>
            <div class="text">
              Оплачивайте новые покупки бонусами
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="howgetbg">
  <div class="howbg">
    <div class="container">
      <div class="row">
        <div class="howget">
          <div class="col-md-10 col-xs-12">
            <h3>Как получить бонусную карту?</h3>
            <p>покупайте бонусную карту у партнеров-участников программы стоимость карты единая - 30₽</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="partner" id="sale">
  <h3>Партнеры программы</h3>

  <div class="tabul">
    <div class="container">
      <div class="row">
        <div class="links col-md-4 col-xs-12">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#panelgz">гармония здоровья</a></li>
            <li><a data-toggle="tab" href="#panelda">дешевая аптека</a></li>
            <li><a data-toggle="tab" href="#panelav">аптека всем</a></li>
            <li><a data-toggle="tab" href="#panelev">эвалар</a></li>
            <li><a data-toggle="tab" href="#panelop">очень оптика</a></li>

          </ul>
        </div>
        <div class="tabcont col-md-8 col-xs-12">
          <div class="tab-content">
            <div id="panelgz" class="tab-pane fade in active">
              <div class="block active">
                <p>Сумма накоплений за предыдущий квартал</p>
                <div class="polzunok-container-1">
                  <div class="polzunok-1" id="polzunok"></div>
                </div>
                <div class="opispolz">
                  <div class="price">до 1 999₽</div>
                  <div class="price">2 000₽ - 3 999₽</div>
                  <div class="price">4 000₽ - 7999₽</div>
                  <div class="price">от 8 000₽</div>
                </div>
                <div class="block__text-size">Начисление бонусов на текущий квартал: <p class="text-size1"><span
                        class="text-size1__text">размер</span> <span class="text-size1__value">XL</span></p></div>
                <div class="items">
                  <div class="item">
                    Всё, кроме ЛС и БАДов <span class="gz1">15%</span>
                  </div>
                  <div class="item">
                    Лекарственные средства и БАДы <span class="gz2">7%</span>
                  </div>
                  <div class="item">
                    ЖНВЛС <span class="gz3">2%</span>
                  </div>
                </div>
              </div>
            </div>
            <div id="panelda" class="tab-pane fade in">
              <!--	<div class="block">
                      <div class="items deshapt">
                          <div class="item">
                              Всё, кроме ЛС и БАДов <span>-7%</span>
                          </div>
                          <div class="item">
                              Лекарственные средства и БАДы <span>-2%</span>
                          </div>
                      </div>
                  </div> -->
              <div class="block active">
                <p>Сумма накоплений за предыдущий квартал</p>
                <div class="polzunok-container-1">
                  <div class="polzunok-1" id="polzunok4"></div>
                </div>
                <div class="opispolz">
                  <div class="price">до 1 999₽</div>
                  <div class="price">2 000₽ - 3 999₽</div>
                  <div class="price">4 000₽ - 7999₽</div>
                  <div class="price">от 8 000₽</div>
                </div>
                <div class="block__text-size">Начисление бонусов на текущий квартал: <p class="text-size4"><span
                        class="text-size4__text">размер</span> <span class="text-size4__value">XL</span></p></div>
                <div class="items">
                  <div class="item">
                    Всё, кроме ЛС и БАДов <span class="da1">8%</span>
                  </div>
                  <div class="item">
                    Лекарственные средства и БАДы <span class="da2">2%</span>
                  </div>
                  <div class="item">
                    ЖНВЛС <span class="da3">2%</span>
                  </div>
                </div>
              </div>
            </div>
            <div id="panelav" class="tab-pane fade in">
              <div class="block active">
                <!-- <p>карта принимается только для пополнения накоплений</p>
                <img src="images/pig.png" alt="pig" /> -->
                <div class="items opora">
                  <div class="item">
                    Всё, кроме лекарственных средств и БАДов
                    <span class="op">5%</span>
                  </div>
                </div>
              </div>
            </div>
            <div id="panelop" class="tab-pane fade in">
              <div class="block active">
                <p>Сумма накоплений за предыдущий квартал</p>
                <div class="polzunok-container-1">
                  <div class="polzunok-1" id="polzunok3"></div>
                </div>
                <div class="opispolz">
                  <div class="price">до 1 999₽</div>
                  <div class="price">2 000₽ - 3 999₽</div>
                  <div class="price">4 000₽ - 7 999₽</div>
                  <div class="price">от 8 000₽</div>
                </div>
                <div class="block__text-size">Начисление бонусов на текущий квартал: <p class="text-size3"><span
                        class="text-size3__text">размер</span> <span class="text-size3__value">XL</span></p></div>
                <div class="items opora">
                  <div class="item">
                    Весь ассортимент оптики
                    <span class="op">15%</span>
                  </div>
                </div>
              </div>
            </div>
            <div id="panelev" class="tab-pane fade in">
              <div class="block active">
                <p>Сумма накоплений за предыдущий квартал</p>
                <div class="polzunok-container-1">
                  <div class="polzunok-1" id="polzunok2"></div>
                </div>
                <div class="opispolz">
                  <div class="price">до 1 999₽</div>
                  <div class="price">2 000₽ - 3 999₽</div>
                  <div class="price">4 000₽ - 7999₽</div>
                  <div class="price">от 8 000₽</div>
                </div>
                <div class="block__text-size">Начисление бонусов на текущий квартал: <p class="text-size2"><span
                        class="text-size2__text">размер</span> <span class="text-size2__value">XL</span></p></div>
                <div class="items">
                  <div class="item">
                    Всё, кроме ЛС и БАДов <span class="gz4">15%</span>
                  </div>
                  <div class="item">
                    Лекарственные средства и БАДы <span class="gz5">7%</span>
                  </div>
                  <div class="item">
                    ЖНВЛС <span class="gz6">2%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="imginfo-container">
  <img src="images/imginfo1.png" alt="1бонус = 1рубль"/>
  <img src="images/imginfo2.png" alt="50% оплата покупок бонусами"/>
  <img src="images/imginfo3.png" alt="50 баллов в подарок при покупке карты"/>
</div>
<div class="pharm" id="partner">
  <div class="container">
    <div class="row">
      <h3>Контакты партнеров</h3>

      <div class="pharmblock">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#panel1">все</a></li>
          <li><a data-toggle="tab" href="#panel2">гармония здоровья</a></li>
          <li><a data-toggle="tab" href="#panel3">аптека всем</a></li>
          <li><a data-toggle="tab" href="#panel4">дешевая аптека</a></li>
          <li><a data-toggle="tab" href="#panel5">очень оптика</a></li>
          <li><a data-toggle="tab" href="#panel6">аптека эвалар</a></li>
        </ul>

        <? include('inc/inc.php'); ?>

      </div>
    </div>
  </div>
</div>

<div class="faq" id="faq">
  <h3>Вопрос-ответ</h3>
  <div class="faqblock">
    <div class="container">
      <div class="row">
        <div class="tocentbig">
          <div class="item col-md-8 col-xs-12">
            <a class="btns collapsed" data-toggle="collapse" href="#collapse-1" role="button" aria-expanded="false"
               aria-controls="collapseExample">Зачем мне нужна карта?</a>
            <div class="collapse" id="collapse-1">
              <div class="card card-body">
                Карта Легко - это единая бонусная карта, с которой Вы можете получать бонусы за любые покупки в аптеках
                и оптике, копить бонусы и оплачивать ими до 50% стоимости товара.
              </div>
            </div>
          </div>
          <div class="item col-md-8 col-xs-12">
            <a class="btns collapsed" data-toggle="collapse" href="#collapse-2" role="button" aria-expanded="false"
               aria-controls="collapseExample">Действительны ли дисконтные карты аптек?</a>
            <div class="collapse" id="collapse-2">
              <div class="card card-body">
                Да, карты выданные до 01.10.2020г. действительны и работают по бонусной программе Легко.
              </div>
            </div>
          </div>
          <div class="item col-md-8 col-xs-12">
            <a class="btns collapsed" data-toggle="collapse" href="#collapse-3" role="button" aria-expanded="false"
               aria-controls="collapseExample">В чем преимущества карты Легко?</a>
            <div class="collapse" id="collapse-3">
              <div class="card card-body">
                Бонусная карта Легко - комплекс выгод для покупателей:&nbsp;
                <ul>
                  <li>Единая бонусная карта. Одна карта – это удобно!</li>
                  <li>Подарочные бонусы для держателей карт&nbsp;</li>
                  <li>Бонусы начисляются за каждую покупку</li>
                  <li>Уникальные акции для держателей карт</li>
                  <li>100 бонусов в подарок в честь Дня Рождения</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item col-md-8 col-xs-12">
            <a class="btns collapsed" data-toggle="collapse" href="#collapse-4" role="button" aria-expanded="false"
               aria-controls="collapseExample">Начисляются ли бонусы на первую покупку?</a>
            <div class="collapse" id="collapse-4">
              <div class="card card-body">
                Да,&nbsp; бонусы начисляются с первой покупки. А также новым клиентам при покупке бонусной карты мы
                дарим 50 бонусов.
              </div>
            </div>
          </div>
          <div class="item col-md-8 col-xs-12">
            <a class="btns collapsed" data-toggle="collapse" href="#collapse-5" role="button" aria-expanded="false"
               aria-controls="collapseExample">Как получить карту пенсионерам?</a>
            <div class="collapse" id="collapse-5">
              <div class="card card-body">
                Для пенсионеров, участников ВОВ и инвалидов действуют специальные условия выдачи карты: карта выдается
                бесплатно при предъявлении пенсионного удостоверения.
              </div>
            </div>
          </div>
          <div class="item col-md-8 col-xs-12">
            <a class="btns collapsed" data-toggle="collapse" href="#collapse-6" role="button" aria-expanded="false"
               aria-controls="collapseExample">Не нашли нужную информацию?</a>
            <div class="collapse" id="collapse-6">
              <div class="card card-body">
                Отправьте свой вопрос на <a href="mailto:info@kartalegko.ru">info@kartalegko.ru</a> или с помощью <a
                      href="#" data-toggle="modal" data-target="#auth">формы обратной связи</a>.<br>Мы ответим Вам в
                ближайшее время!
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>

<div class="contacts" id="contacts">
  <div class="container">
    <div class="row">
      <h3>Контакты</h3>
      <div class="col-xs-12">
        <a href="mailto:info@kartalegko.ru">info@kartalegko.ru</a>
        <a href="#" class="vopros" data-toggle="modal" data-target="#auth">задать вопрос</a>
      </div>


    </div>
  </div>
</div>

<footer>
  <div class="footbg">
    <div class="container">
      <div class="row">
        <div class="footer-top">
          <div class="logo fleft">
            <a href="#">
              <img src="images/logo.png" alt="logo"/>
            </a>
          </div>
          <div class="social fright">
            <p>мы в социальных сетях</p>
            <a href="https://vk.com/karta_legko" target="_blank"> <img src="images/vk.png" alt="vkicon"/> </a>
          </div>
        </div>
        <div class="footer-bot">
          <div class="copy">
            Все права защищены ©
          </div>
          <div class="licenz">
            <a href="images/pravila.pdf" target="_blank">Условия бонусной программы Легко</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- auth -->
<div class="modal fade" id="auth" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog pt40" role="document">
    <a href="#" class="close" data-dismiss="modal" aria-label="Close">&times;</a>
    <div class="modal-content">

      <div class="modal-body">
        <h3>Задать вопрос</h3>
        <div class="feed-form">
          <form id="mainform" action="#" class="form__form feedback-form">
            <fieldset class="form__fields form__hide-success">

              <input type="text" name="name" placeholder="Ваше ФИО *" required="">
              <input type="text" name="phone" placeholder="Телефон и/или email *" class="phone_mask" required="">
              <input type="text" name="cartnumb" placeholder="Номер карты">
              <select name="region" required="">
                <option value="brn">Алтайский край</option>
                <option value="irc">Иркутская область</option>
                <option value="kem">Кемеровская область</option>
                <option value="sch">Краснодарский край</option>
                <option value="krsk">Красноярский край (кроме Норильска)</option>
                <option value="nor">Красноярский край (Норильск)</option>
                <option value="nsk">Новосибирская область</option>
                <option value="abk">Республика Хакасия</option>
                <option value="drug">Другой регион</option>
              </select>
              <textarea name="dopinformation" rows="10" placeholder="Ваш вопрос" required=""></textarea>


              <div class="checkboxing">
                <input type="checkbox" required="">
                <div class="incheckbox">Я даю <a href="images/polit.pdf" target="_blank">согласие на обработку
                  персональных данных</a></div>
              </div>
              <input type="hidden" name="go" value="5">
              <input type="hidden" name="submitMain" value="feedback">

              <button type="submit" name="submitMain">Отправить</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- auth -->


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript" src="js/totop.min.js"></script>
<script type="text/javascript" src="js/jquery.countTo.js"></script>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/jasny-bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/functions.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript" src="js/yamap.js"></script>
<script type="text/javascript" src="js/main.js"></script>

<script type="text/javascript">
  $('.numb').countTo({
    formatter: function (value, options) {
      return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ' ');
    }
  });
</script>
<script type="text/javascript">
  $(document).ready(function () {
    $(".navblock").on("click", "a", function (event) {
      //отменяем стандартную обработку нажатия по ссылке
      event.preventDefault();

      //забираем идентификатор бока с атрибута href
      var id = $(this).attr('href'),

        //узнаем высоту от начала страницы до блока на который ссылается якорь
        top = $(id).offset().top;

      //анимируем переход на расстояние - top за 1500 мс
      $('body,html').animate({scrollTop: top}, 1500);
    });
    $(".navbar").on("click", "a", function (event) {
      //отменяем стандартную обработку нажатия по ссылке
      event.preventDefault();

      //забираем идентификатор бока с атрибута href
      var id = $(this).attr('href'),

        //узнаем высоту от начала страницы до блока на который ссылается якорь
        top = $(id).offset().top;

      //анимируем переход на расстояние - top за 1500 мс
      $('body,html').animate({scrollTop: top}, 1500);
    });
  });
</script>
<script type="text/javascript">
  $("#polzunok").slider({
    animate: "slow",
    range: "min",
    value: 4,
    min: 1,
    max: 4,
    change: function (event, ui) {
      var selection = $("#polzunok").slider("value");
      if (selection == 4) {

        $(".text-size1__value").text("XL");
        $(".gz1").text("15%");
        $(".gz2").text("7%");
        $(".gz3").text("2%");
      }
      ;
      if (selection == 3) {
        $(".text-size1__value").text("L");
        $(".gz1").text("12%");
        $(".gz2").text("5%");
        $(".gz3").text("2%");
      }
      ;
      if (selection == 2) {

        $(".text-size1__value").text("M");
        $(".gz1").text("10%");
        $(".gz2").text("4%");
        $(".gz3").text("2%");
      }
      ;
      if (selection == 1) {

        $(".text-size1__value").text("S");
        $(".gz1").text("7%");
        $(".gz2").text("2%");
        $(".gz3").text("2%");
      }
      ;
    }
  });
  $("#polzunok2").slider({
    animate: "slow",
    range: "min",
    value: 4,
    min: 1,
    max: 4,
    change: function (event, ui) {
      var selection = $("#polzunok2").slider("value");
      if (selection == 4) {

        $(".text-size2__value").text("XL");
        $(".gz4").text("15%");
        $(".gz5").text("7%");
        $(".gz6").text("2%");
      }
      ;
      if (selection == 3) {

        $(".text-size2__value").text("L");
        $(".gz4").text("12%");
        $(".gz5").text("5%");
        $(".gz6").text("2%");
      }
      ;
      if (selection == 2) {

        $(".text-size2__value").text("M");
        $(".gz4").text("10%");
        $(".gz5").text("4%");
        $(".gz6").text("2%");
      }
      ;
      if (selection == 1) {

        $(".text-size2__value").text("S");
        $(".gz4").text("7%");
        $(".gz5").text("2%");
        $(".gz6").text("2%");
      }
      ;
    }
  });
  $("#polzunok3").slider({
    animate: "slow",
    range: "min",
    value: 4,
    min: 1,
    max: 4,
    change: function (event, ui) {
      var selection = $("#polzunok3").slider("value");
      if (selection == 1) {

        $(".text-size3__value").text("S");
        $(".op").text("7%");
      }
      ;
      if (selection == 2) {

        $(".text-size3__value").text("M");
        $(".op").text("10%");
      }
      ;
      if (selection == 3) {

        $(".text-size3__value").text("L");
        $(".op").text("12%");
      }
      ;
      if (selection == 4) {

        $(".text-size3__value").text("XL");
        $(".op").text("15%");
      }
      ;
    }
  });
  $("#polzunok4").slider({
    animate: "slow",
    range: "min",
    value: 4,
    min: 1,
    max: 4,
    change: function (event, ui) {
      var selection = $("#polzunok4").slider("value");
      if (selection == 4) {

        $(".text-size4__value").text("XL");
        $(".da1").text("8%");
        $(".da2").text("2%");
        $(".da3").text("2%");
      }
      ;
      if (selection == 3) {

        $(".text-size4__value").text("L");
        $(".da1").text("7%");
        $(".da2").text("2%");
        $(".da3").text("2%");
      }
      ;
      if (selection == 2) {

        $(".text-size4__value").text("M");
        $(".da1").text("6%");
        $(".da2").text("2%");
        $(".da3").text("2%");
      }
      ;
      if (selection == 1) {

        $(".text-size4__value").text("S");
        $(".da1").text("5%");
        $(".da2").text("2%");
        $(".da3").text("2%");
      }
      ;
    }
  });

  var opt = $(".polzunok-1").data().uiSlider.options,
    min = opt.min,
    raz = opt.max - min;
  for (var i = 1; i <= raz; i++) {
    $(".polzunok-1").append($("<b></b>").css('left', (100 / 4 * i) + '%'));
  }
</script>
<div class="totop"><i class="fa fa-angle-up"></i></div>
<script>
  $('.totop').tottTop({
    scrollTop: 100
  });
</script>
<script>
  jQuery(document).ready(function () {

    // ======= Form init =======

    $('#mainform').sendForm({
      successTitle: "Ваш вопрос принят!",
      successText: "Наш сотрудник свяжется с Вами в самое ближайшее время.",
      autoClose: true,
      autoCloseDelay: 3000
    });

  });
</script>
</body>

</html>