.Layout main{
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    padding: 0 16px;
    overflow-y: auto;
    color: black;
    background-color: #747474;
    font-family: Source Sans Pro, sans-serif;
    font-size: calc(10px + 2vmin);
    font-weight: 400;
    line-height: 1.5;
}