@import "../../../variables";

.CartOrderPage {

  @keyframes boostText {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
      font-weight: bold;
    }
    100% {
      transform: scale(1);
    }
  }

  max-width: 800px;
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__container {
    @media (max-width: 900px) {
      padding: 13px 5px 10px !important;
      border-radius: 0;
    }
  }

  &__buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 900px) {
      flex-direction: column-reverse;
      padding-top: 15px;
    }
  }

  &__title {
    padding-bottom: 5px;
    @media (max-width: 900px) {
      padding: 0;
      font-size: 1.05rem;
    }
  }

  &__addressAndPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    @media (max-width: 900px) {
      position: relative;
      flex-direction: column;
    }
  }

  &__sum {
    color: #333;
    white-space: nowrap;
    font-size: 1.4rem;
    font-weight: 600;
    @media (max-width: 900px) {
      font-size: 1.2rem;
      position: absolute;
      bottom: 5px;
      right: 5px;
    }
  }

  &__addressContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #3e3e3e;
    margin: 5px 20px 5px 0;
    font-weight: 600;
    flex: 1 1;

    @media (max-width: 900px) {
      margin: 5px 0;
      font-size: .8rem;
      width: 100%;
    }

    p {
      margin: 2px 0;
      font-weight: 600;

      span {
        color: #000;
        font-weight: normal;
        margin-left: 5px;
        font-size: 16px;
        @media (max-width: 900px) {
          margin: 0;
          font-size: .7rem;
        }
      }

      img {
        width: 15px;
        height: 15px;
        transform: translate(-10px, 2px);

        @media (max-width: 900px) {
          transform: translate(-3px, 2px);
          width: 12px;
          height: 12px;
        }
      }
    }
  }

  &__productContainer {
    margin: 3px 0 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed #eaeaea;
    @media (max-width: 900px) {
      flex-wrap: wrap;
      font-size: .8rem;
      padding-top: 7px;
      border-top: 1px dashed $primary-color;
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  &__productTitle {
    flex: 1 1 50%;
    text-align: left;

    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;

    @media (max-width: 900px) {
      width: 100%;
      flex-basis: 100%;
      margin-bottom: 7px;
    }
  }

  &__productCount {
    flex: 1 1 25%;
    text-align: right;
    @media (max-width: 900px) {
      font-size: .75rem;
      flex-basis: 50%;
      justify-self: flex-start;
      text-align: left;
    }
  }

  &__price {
    flex: 1 1 15%;
    text-align: right;
    @media (max-width: 900px) {
      font-size: .75rem;
      flex-basis: 40%;
    }
  }

  &__buyPanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    @media (max-width: 900px) {
      flex-direction: column;
    }
  }

  &__authBlock {
    padding: 30px 0;
    min-width: 580px;
    @media (max-width: 900px) {
      padding: 15px 0;
      min-width: 320px;
    }
  }

  &__authTitle {
    font-size: 1.2rem;
    margin-bottom: 15px;
    @media (max-width: 900px) {
      display: flex;
      justify-content: flex-start;
      font-size: .8rem;
    }
  }

  &__form {
    display: flex;
    max-width: 600px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-color-light;
    padding: 10px 30px 25px;
    border-radius: 8px;

    @media (max-width: 900px) {
      flex-direction: column;
    }

    &_message {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__buttonSMS {
    border: 1px solid $primary-color;
    height: 50px;
    width: 170px;
    outline: none;
    background-color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    color: $primary-color;
    margin: 20px 0;
    transition: color .2s, background-color .2s;
    opacity: .5;

    @media (max-width: 900px) {
      margin: 10px 0 0;
    }

    &_enabled {
      cursor: pointer;
      opacity: 1;

      &:hover {
        color: #fff;
        background-color: $primary-color;
      }
    }

    &:active {
      transform: scale(.96);
    }
  }

  &__buttonToBuy {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 200px;
    height: 50px;

    font-size: 1.2rem;
    font-weight: bold;

    outline: none;
    border: 1px solid $primary-color;
    border-radius: 15px;
    background: $primary-color;
    color: #fff;
    cursor: pointer;

    @media (min-width: 901px) {
      transform: translateY(-23px);
      &:active {
        transform: translateY(-23px) scale(.96);
      }
    }

    @media (max-width: 900px) {
      transform: translateY(0px);
      &:active {
        transform: translateY(0px) scale(.96);
      }
    }

    &:hover {
      background-image: linear-gradient(to bottom, #1f5377, #1F3277);
    }
  }

  &__AfterBuy {
    font-size: 1.1rem;
    color: black;
    margin: 10px 0;
  }

  // ============== INPUT ELEMENT =======================

  &__element {
    max-width: 300px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 17px;

    &:first-child {
      margin-top: 5px;
    }

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__label {
    position: absolute;
    bottom: 4px;
    left: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    color: #000;
    transform: translateY(0);
    transition: transform .3s, font-size .3s;
  }

  &__input {
    max-width: 300px;
    outline: none;
    border-bottom: 1px solid $primary-color;
    padding: 5px 0;
    font-size: 1rem;
    line-height: 1.1rem;
    background-color: transparent;

    &:focus {
      border-bottom: 3px solid $secondary-color;
      padding-bottom: 3px;

      + .CartOrderPage__label {
        font-size: .85rem;
        transform: translateY(-24px);
      }
    }

    &:valid {
      + .CartOrderPage__label {
        font-size: .85rem;
        transform: translateY(-24px);
      }
    }

    &_error {
      border-bottom: 1px solid red;
    }
  }

  &__errorMessage {
    position: absolute;
    bottom: -18px;
    left: 0;
    color: #FF2F2F;
    font-size: .7rem;
    font-weight: 500;
    opacity: 0;
  }

  &__errorMessage_visible {
    animation: boostText .8s;
    display: inline-block !important;
    opacity: 1 !important;
  }

}