.ButtonLogIn {
  outline: none;
  background: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  max-height: 50px;
  cursor: pointer;

  border-radius: 12px;
  padding: 20px;

  &:hover {
    border: 1px solid #95c11f;
    transform: translateX(1px);
  }

  &:active {
    transform: scale(.95);
    border: 1px solid #95c11f;
  }

  &__img {
    margin-right: 7px;
    object-fit: contain;
    max-height: 30px;
  }

  &__text {
    font-size: 1.1rem;
    border-bottom: 2px dotted #fff;
  }
}