@import "../../variables";

.HowToBuy {
  font-family: $primary-font;
  font-weight: bold;
  display: flex;
  width: 100%;
  height: 300px;
  background: $bg-color;
  color: $primary-color;
  overflow: hidden;

  &__wrapper {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 0;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    min-height: 126px;


    &:first-child {
      .HowToBuy__number {
        margin-right: -15px;
      }
    }
  }

  &__number {
    font-size: 10rem;
    line-height: 9rem;
    @media (max-width: 1170px) {
      font-size: 8rem;
      line-height: 8rem;
    }
  }

  &__text {
    min-height: 126px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
    height: 100%;

    @media (max-width: 1170px) {
      min-height: 100px;
    }

    p {
      font-size: 2rem;
      white-space: nowrap;
      @media (max-width: 1170px) {
        font-size: 1.5rem;
      }
    }
  }

  &__link {
    color: $primary-color;
    border-bottom: 3px solid $primary-color;

    &:hover {
      color: $secondary-color;
      border-color: $secondary-color;
      text-shadow: 0 0 12px black;
    }
  }

  &__arrow {
    color: #fff;
    transform: rotate(180deg) scale(.6, 2);
    font-size: 11rem;
  }
}