.howtobuy {
    background: url(../../img/howbg.jpg) no-repeat center;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.howtobuy h2 {
    color: #fff;
    text-align: center;
    font-family: bold, serif;
    font-size: 32px;
    margin-bottom: 40px;
}

.arrowRight {
    color: #fff;
    width: 22px;
    height: 22px;
}

.blockbuy .icon {
    position: relative;
}

.blockbuy .icon:after {
    display: block;
    content: '';
    height: 2px;
    width: 100%;
    background: #fff;
    position: absolute;
    bottom: -10px;
}

.blockbuy {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-size: 22px;
    line-height: 22px;
}

.blockbuy .item {
    display: flex;
    align-items: flex-end;
}

.blockbuy .item .text {
    color: #fff;
    font-family: bold, serif;
    font-size: 22px;
    padding-left: 20px;
    line-height: 22px;
}