@import "src/scss/variables";
@import "src/scss/mixins";

.Profile {
  font-family: PTSans-Regular, Helvetica, Arial, sans-serif;
  padding: 0 15px;

  @media(max-width: 800px) {
    padding-bottom: 60px;
  }

  @media(max-width: 390px) {
    padding: 0 0 60px;
  }

  h1 {
    margin: 0 0 20px;
    @media(max-width: 800px) {
      padding-top: 20px;
    }
    @media(max-width: 390px) {
      padding-left: 15px;
    }
  }

  &__mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
    @media(max-width: 800px) {
      align-items: center;
      flex-direction: column-reverse;
    }
  }

  &__menu {
    padding: 20px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
    @media(max-width: 800px) {
      width: 100%;
      max-width: 600px;
    }

    p {
      color: blue;
      font-size: 24px;
    }
  }

  &__items {
    margin-bottom: 15px;
  }

  &__item {
    list-style-type: none;
    padding: 5px;
    cursor: pointer;

    &:hover {
      background: #f5f5f5;
      transform: scale(1.03);
      transition: all .2s;
    }
  }

  &__btnOut {
    align-self: flex-end;
  }
}

.ProfileSetting {
  flex: 1 1;
  margin-right: 30px;

  @media(max-width: 800px) {
    margin: 0;
    width: 100%;
    max-width: 600px;
  }

  h4 {
    margin-bottom: 15px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  &__item {
    border: 1px solid #E5E5E5;
    padding: 13px;
    min-width: 300px;
    margin-bottom: 10px;
  }

  &__itemContent {
    display: flex;
    justify-content: space-between;
  }

  &__itemTitle {
    font-size: 15px;
    font-weight: normal;
    color: #999;
    margin-bottom: 10px;
  }

  &__info {
    font-weight: 500;
  }

  &__changePass {
    margin: 15px 10px;
    font-size: 18px;
    color: blue;
    cursor: pointer;
  }

  &__itemContainer {
    display: flex;
    flex-direction: column;

    div {
      padding: 10px;
      display: flex;
      align-items: center;
    }

    label {
      padding: 10px;
      cursor: pointer;
    }
  }

  &__submit {
    align-self: flex-end;
    max-width: 200px;

    outline: none;
    font-size: 18px;
    padding: 15px 10px;
    min-width: 182px;
    text-align: center;
    width: 100%;
    flex-basis: 45%;
    flex-grow: 1;
    margin: 5px 5px 5px 0;
    color: #fff;
    border-radius: 8px;
    background: linear-gradient(to top, #fc8507, #ffa218);
    border: 1px solid transparent;
    border-top-color: #fc8507;
    border-bottom-color: #ffa218;

    &:hover {
      background-image: linear-gradient(to bottom, #ffbc0b, #ff7400);
      box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
      border-top-color: #ffbc0b;
      border-bottom-color: #ff7400;
    }
  }

  input {
    appearance: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;

    border: 2px solid #E26C2D;
    transition: 0.2s all linear;
    outline: none;
  }

  input:checked {
    background-color: #E26C2D;
    background-image: url('../../img/vector.png');
    background-position: center;
    background-repeat: no-repeat;
  }
}

.Favorites {
  flex: 1 1;
  margin-right: 50px;
  @media(max-width: 800px) {
    width: 100%;
    max-width: 670px;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  h4 {
    margin: 0 0 15px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    @media(max-width: 800px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

}

.Bonus {
  &__signature {
    margin-top: 20px;
  }
}

.OrderHistory {
  @keyframes bounceInLeft {
    0% {
      opacity: 0;

      transform: translateX(-400px);
    }
    60% {

      transform: translateX(30px);
    }
    80% {
      transform: translateX(-10px);
    }
    100% {
      opacity: 1;

      transform: translateX(0);
    }
  }

  @keyframes scaleOn {
    0% {
      opacity: 1;

      transform: scale(1);
    }
    100% {
      opacity: 0;

      transform: scale(0);
    }
  }

  @keyframes scaleOff {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  padding-left: 0;
  padding-right: 0;
  flex: 1 1;
  margin-right: 10px;
  cursor: default;

  h2 {
    padding: 0 10px 15px 20px;
  }

  &__wrapper {
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    animation-name: bounceInLeft;
    animation-duration: 1s;
    animation-fill-mode: both;


    &:hover, &:hover .OrderHistory__content {
      background-color: #FFF9E5;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
  }

  &__headerItem {
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #D7D7D7;
    padding: 10px 20px;
    background-color: #f4f2f2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 550px) {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__rightHeader {
    display: flex;
    align-items: center;
  }

  &__priceHeader {
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    animation: bounceInLeft 1s both;
  }

  &__iconContainer {
    padding: 2px 5px;

    &:hover .OrderHistory__arrowIcon {
      color: #fc8507;
    }
  }

  .rotate {
    transform: rotate(180deg);
    color: green;

    & > .OrderHistory__arrowIcon {
      color: green;
    }
  }

  &__arrowIcon {
    font-size: 26px;
    color: #8c8c8c;
  }

  &__title {
    color: #333;
    font-size: 16px;
    @media(max-width: 550px) {
      align-self: flex-start;
    }

  }

  &__content {
    border-top: 1px solid #d8d8d8;
    padding: 5px;
    background-color: #fff;
    animation: scaleOff .5s;
  }

  &__contentDisabled {
    visibility: hidden;
    height: 0;
    padding: 0 5px;

    transition: height .3s, visibility .25s;
    animation: scaleOn .5s;
  }

  &__product {
    position: relative;
    //border-top: 1px solid #d8d8d8;
    //padding: 10px 0 20px 0;

    border: 1px solid #E5E5E5;
    padding: 13px;
    min-width: 300px;
    margin-bottom: 10px;

    &:first-child {
      border-top: none;
    }
  }

  &__productTitle {
    color: #555;
    margin-bottom: 10px;
  }

  &__info {
    color: #000;
    font-size: 16px;
    margin: 4px 0;
  }

  &__sumProduct {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    right: 15px;
  }

  &__infoContainer {
    font-size: 18px;
    padding: 10px 0 10px 10px;
  }

  &__infoItem {
    margin: 3px;
  }

  &__amount {
    font-weight: bold;
    font-size: 22px;
    margin-top: 15px;
    margin-left: 3px;
  }

  .positive {
    color: green;
    font-weight: 600;
  }

  .negative {
    color: red;
  }

}