.Profile {
  font-family: PTSans-Regular, Helvetica, Arial, sans-serif;
  padding: 0 15px;
  flex: 1 1;

  @media(max-width: 800px) {
    padding-bottom: 60px;
  }

  @media(max-width: 390px) {
    padding: 0 0 60px;
  }

  h1 {
    margin: 0 0 20px;
    @media(max-width: 800px) {
      padding-top: 20px;
    }
    @media(max-width: 390px) {
      padding-left: 15px;
    }
  }

  &__mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
    @media(max-width: 800px) {
      align-items: center;
      flex-direction: column-reverse;
    }
  }

  &__menu {
    padding: 20px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
    @media(max-width: 800px) {
      width: 100%;
      max-width: 600px;
    }

    p {
      color: blue;
      font-size: 24px;
    }
  }

  &__items {
    margin-bottom: 15px;
  }

  &__item {
    list-style-type: none;
    padding: 5px;
    cursor: pointer;

    &:hover {
      background: #f5f5f5;
      transform: scale(1.03);
      transition: all .2s;
    }
  }

  &__btnOut {
    align-self: flex-end;
  }
}