@import "../../variables";

.CardItem {
  font-family: $primary-font;
  color: $primary-color;
  border: 1px solid $bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  padding: 0 15px;
  background: #fff;
  border-radius: 15px;

  &:hover {
    outline: none;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .16);
    transform: translate(0, -8px);
    transition: all .2s;

  }

  &__imageContainer {
    min-width: 150px;
    min-height: 150px;
    max-width: 185px;
    max-height: 185px;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 80px;
      color: lightgrey;
    }
  }

  &__image {
    object-fit: contain;
    min-width: 150px;
    min-height: 150px;
    max-width: 185px;
    max-height: 185px;
    @media (max-width: 900px) {
      min-width: 100px;
      min-height: 100px;
      max-width: 114px;
      max-height: 110px;
    }
  }

  &__notImage {
    font-size: 150px;
    color: $bg-color;
  }

  &__textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__containerInfo {
    align-self: flex-start;
    text-align: left;
    padding: 10px 5px 0;
    display: flex;
    flex-direction: column;
    min-height: 110px;
  }

  &__title {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.3rem;
    color: $primary-color;

    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__maker {
    font-size: .85rem;
    margin-top: 10px;
    font-weight: normal;
    color: #999;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__priceContainer {
    display: flex;
    align-items: center;
  }

  &__price {
    align-self: flex-end;
    padding: 10px 5px 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    p {
      font-size: 1rem;
      margin: 7px 7px 7px 0;
      text-align: right;
    }
  }

  &__priceNumber {
    font-weight: bold;
  }
  &__linkToProduct {
    padding-bottom: 1px;
    &:hover {
      color: blue;
      border-bottom: 1px dashed blue;
      padding-bottom: 0;
    }
  }

  &__priceText {
    color: grey;
    font-size: .8em;
  }

  &__cart {
    color: #333;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    padding: 3px 25px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    box-shadow: 1px 1px 1px gray;

    &:hover {
      box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.6);
      transition: all .2s;
    }

    &:active {
      transform: translateY(2px);
      transition: all 0.1s ease 0s;
      box-shadow: 0 2px 0 0 gray;
    }

  }
}