@import "../../../variables";

.CountButton {
  font-family: $primary-font;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__decrement, &__increment {
    outline: none;
    font-size: 22px;
    color: #fff;
    background: $primary-color;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    //span {
    //  transform: translate(0px,-2px);
    //}

    &:active {
      transform: scale(.95);
    }
  }

  &__count {
    color: $primary-color;
    padding: 0 6px;
    font-weight: bold;
    font-size: 1.1rem;
  }
}