.FavoriteItem {
  display: flex;
  border: 1px solid #E5E5E5;
  flex: 1 1;
  padding-bottom: 5px;
  padding-right: 10px;
  margin-top: 15px;

  img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 15px;
    cursor: pointer;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1 1;
  }

  &__title {
    margin: 0;
    font-size: 16px;
    width: 100%;
    display: flex;
    cursor: pointer;

    &:hover {
      color: blue;
    }
  }

  &__price {
    font-size: 18px;
    font-weight: 600;
    margin-left: auto;
    margin-right: 15px;
    white-space: nowrap;
  }

  &__maker {
    margin: 10px 0 0 0;
    color: #999;
  }

  &__buttonContainer {
    display: flex;
    justify-content: space-between;

  }

  &__buttonDel {
    color: grey;
    cursor: pointer;
    margin: 20px 0 10px 20px;
    align-self: flex-end;
    @media(max-width: 800px) {
      margin: 0 10px 0 0;
      align-self: center;
    }

    &:hover {
      color: #e66800;
    }

    &:active {
      transform: scale(0.98);
    }
  }

  &__buttonToCart {
    max-width: 200px;
    cursor: pointer;
    background: linear-gradient(to top, #fc8507, #ffa218);
    border: 1px solid transparent;
    border-top-color: #fc8507;
    border-bottom-color: #ffa218;
    outline: none;
    font-size: 18px;
    padding: 15px 10px;
    min-width: 182px;
    text-align: center;
    width: 100%;
    flex-basis: 45%;
    flex-grow: 1;
    margin: 5px 5px 5px 0;

    color: #fff;
    border-radius: 8px;
    @media(max-width: 800px) {
      max-height: 40px;
      max-width: 140px;
      font-size: 14px;
      padding: 10px 5px;
      min-width: 135px;
    }

    &:hover {
      background-image: linear-gradient(to bottom, #ffbc0b, #ff7400);
      box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
      border-top-color: #ffbc0b;
      border-bottom-color: #ff7400;
    }
  }
}