@import "../../variables";

.PromoPage {
  font-family: $primary-font;
  padding: 0 20px 20px;
  @media(max-width: 800px) {
    padding: 5px 0 60px;
  }

  &__title {
    margin: 0 0 30px;
    font-weight: 700;
    @media(max-width: 800px) {
      padding: 0 15px;
      margin: 0 0 10px;
    }
  }

  &__container {
    width: 100%;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-gap: 20px 10px;
    margin: 0 auto;
  }
}