@media (max-width: 770px) {
    .burger__body {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 56px;
        align-items: center;
        padding: 15px 25px 15px 15px;
    }

    .burger__span-container {
        display: block;
        position: relative;
        width: 25px;
        height: 18px;
        z-index: 3;
    }

    .burger__span-container span {
        position: absolute;
        background-color: #000;
        left: 0;
        width: 100%;
        height: 2px;
        top: 8px;
        transition: all 0.3s ease 0s;
    }

    .burger__span-container:before,
    .burger__span-container:after {
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .burger__span-container:before {
        top: 0;
    }

    .burger__span-container:after {
        bottom: 0;
    }

    .burger__span-container.active span {
        transform: scale(0);
    }

    .burger__span-container.active:before {
        transform: rotate(45deg);
        top: 8px;
    }

    .burger__span-container.active:after {
        transform: rotate(-45deg);
        bottom: 8px;
    }

    .menu-wrapper {
        background: transparent;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: calc(100% - 56px);
        overflow: auto;
        transition: left 0.4s ease-in-out 0s;
    }

    .menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 87%;
        height: calc(100% - 56px);
        overflow-x: hidden;
        overflow-y: auto;
        transition: left 0.4s ease-in-out 0s;
        background-color: #747474;
        padding: 0 0 20px;
    }

    .menu-wrapper.active {
        left: 0;
        background-color: rgba(0, 0, 0, .5);
        transition: background-color .3s ease-in-out;
    }

    .menu-wrapper.active .menu {
        left: 0;
    }
}
