@import "../../../variables";

.ProfileSetting {
  flex: 1 1;
  margin-right: 30px;

  @media(max-width: 800px) {
    margin: 0;
    width: 100%;
    max-width: 600px;
  }

  h4 {
    margin-bottom: 15px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  &__item {
    border: 1px solid #E5E5E5;
    padding: 13px;
    min-width: 300px;
    margin-bottom: 10px;
  }

  &__itemContent {
    display: flex;
    justify-content: space-between;
  }

  &__itemTitle {
    font-size: 15px;
    font-weight: normal;
    color: #999;
    margin-bottom: 10px;

    &_listItem {
      margin-bottom: 0;
    }
  }

  &__info {
    font-weight: 500;
  }

  &__changeBtnContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__btnChangeData {
    margin: 5px 0;
    padding: 10px 10px;
    font-size: 18px;
    color: blue;
    cursor: pointer;

    &:hover {
      color: $secondary-color;
    }
  }

  &__itemContainer {
    display: flex;
    flex-direction: column;

    div {
      padding: 10px;
      display: flex;
      align-items: center;
    }

    label {
      padding: 10px;
      cursor: pointer;
    }
  }

  &__submit {
    align-self: center;
    min-width: 182px;
    max-width: 300px;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    background: $primary-color;
    color: #fff;

    cursor: pointer;
    outline: none;
    padding: 15px;
    border: 1px solid $primary-color;
    border-radius: 15px;
    justify-content: center;

    &:hover {
      background-image: linear-gradient(to bottom, #1f5377, #1F3277);
    }

    &:active {
      transform: scale(.98);
    }

  }

  &__inputRadio {
    appearance: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;

    border: 2px solid #E26C2D;
    transition: 0.2s all linear;
    outline: none;
  }

  &__inputRadio:checked {
    background-color: #E26C2D;
    background-image: url('../../../img/vector.png');
    background-position: center;
    background-repeat: no-repeat;
  }
}