@import "../../variables";

.CatalogPage {
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
  flex: 1 1;
  padding-bottom: 30px;

  @media (max-width: 900px) {
    padding: 20px 0;
  }

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 20px;
    @media (max-width: 900px) {
      justify-content: flex-start;
      padding: 20px 0;
    }
  }

  &__item {
    padding: 15px;
    font-size: 1.1em;
    font-weight: 600;
    border: 1px solid $primary-color;
    background-color: #fff;
    margin: 10px;
    transition: all .3s;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    min-height: 100px;
    width: 280px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;

    @media (max-width: 900px) {
      margin: 5px;
      padding: 10px 7px;
      min-height: auto;
      width: auto;

    }

    &:hover {
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 28px 25px 0 rgba(0, 0, 0, 0.08);
    }
  }

  &__pathname {
    display: inline-block;
    color: gray;

    &:last-child .CatalogPage__pathArrow {
      display: none;
    }

    @media (max-width: 1240px) {
      padding-left: 15px;
    }
    @media (max-width: 900px) {
      line-height: 1.5rem;
    }
  }

  &__pathItem {
    cursor: pointer;

    &:hover {
      color: blue;
    }
  }

  &__pathArrow {
    color: gray;
    cursor: default;
    margin: 0 5px;
  }

  &__cardList {
    padding-top: 0;
    width: 100%;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(auto-fill, minmax(276px, 1fr));
    grid-gap: 1px;
    margin: 0 auto;
  }

  &__topPanel {
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;

    @media (max-width: 1240px) {
      padding: 0 15px 10px;
    }
    @media (max-width: 900px) {
      flex-direction: column;
      align-items: flex-start;
      font-size: .8rem;
    }
  }

  &__topPanel-right {
    display: flex;
    align-items: center;

    p {
      margin-right: 7px;
    }

    @media (max-width: 900px) {
      margin-top: 7px;
      width: 100%;
      justify-content: space-between;
    }
  }
}