@import "../../variables";

.DropDownMenu {
  position: absolute;
  top: -1000px;
  opacity: 0;
  left: 0;
  right: 0;
  background: $primary-color;
  z-index: 9;
  padding: 25px 20px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .2);
  transition: top .3s, opacity .1s;
  text-align: center;

  &__active {
    opacity: 1;
    top: 50px;
    transition: all .3s;
  }

  &__item {
    display: flex;
    list-style-type: none;
    padding: 10px 5px;
    margin: 3px 0;
    color: #fff;

    a {
      width: 100%;
      color: #fff;
      font-size: 1.2rem;
      line-height: 1.4rem;
    }
  }
}