.MobileBottomNavbar {
  display: flex;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: -1px;
  justify-content: space-around;
  height: 56px;
  line-height: 56px;
  background: #fff;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
  z-index: 3;

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120px;
    text-align: center;
    width: 19%;
    position: relative;

    &-active {
      .MobileBottomNavbar__icon {
        color: #fc8507;
      }
    }
  }

  &__icon {
    height: 28px;
    width: 28px;
    color: #777;
  }
}