@import "../../variables";

.CartItem {
  position: relative;
  font-family: $primary-font;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 860px;
  @media(max-width: 1200px) {
    max-width: 100%
  }

  @media(max-width: 800px) {
    padding: 10px 5px;
    max-width: 450px;
  }

  &__closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $bg-color;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 5px;
    z-index: 1;

    &:hover {
      color: red;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    @media(max-width: 800px) {
      flex-wrap: wrap;
    }
  }

  &__imageContainer {
    margin: 0 20px 0 0;
    max-width: 120px;
    width: 100%;
    @media(max-width: 800px) {
      margin: 0 5px 0 0;
      max-width: 85px;
    }
  }

  &__image {
    min-width: 100px;
    max-width: 120px;
    object-fit: contain;
    font-size: 150px;
    color: $bg-color;

    @media(max-width: 800px) {
      min-width: 75px;
      max-width: 80px;
    }
  }

  &__titleLink {
    cursor: pointer;
  }

  &__descriptionContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    max-width: 400px;
    justify-self: flex-end;

    @media(max-width: 1200px) {
      max-width: 100%;
    }

    h3 {
      font-weight: normal;
      font-size: 18px;
      line-height: 1.2em;
      overflow: hidden;
      margin-bottom: 8px;

      white-space: normal;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;

      @media(max-width: 800px) {
        font-size: 16px;

        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }
  }

  &__maker {
    margin: 15px 0 0;
    color: #777;
    @media(max-width: 800px) {
      font-size: 14px;

      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }

  &__buttonToDescription {
    display: flex;
    margin: auto 0 0;
    min-height: 22px;
    align-items: flex-start;

    @media(max-width: 800px) {
      font-size: 14px;
      margin-top: 13px;
    }

    button {
      white-space: nowrap;
      cursor: pointer;
      background: #fff;
      border: none;
      outline: none;

      padding: 0;
      margin: 0 20px 0 0;
      box-shadow: none;
      color: gray;
      font-size: 14px;
      line-height: 1.42857;
      border-radius: 4px;

      @media(max-width: 800px) {
        margin: 0 30px 0 0;
        color: #fc8507;
        font-weight: bold;
      }

      &:hover:not([disabled]) {
        text-decoration: none;
        color: $secondary-light-color;
        cursor: pointer;
        border-bottom: 2px dashed $secondary-color;
      }
    }
  }

  &__priceBlock {
    position: relative;
    display: flex;
    justify-content: space-between;
    min-width: 250px;
  }

  &__priceOne {
    position: absolute;
    bottom: 33px;
    left: 0;
    color: #999;
  }

  &__lastCount {
    position: absolute;
    top: 32px;
    left: -16px;
    color: #999;
    font-size: .7rem;
    max-width: 100px;
    text-align: right;
  }

  &__price {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.4;
    color: #333;
    white-space: nowrap;
    margin: 0 15px;
    align-self: center;
    @media(max-width: 800px) {
      margin: 0;
    }
  }

  &__caption {
    margin-top: auto;
    color: #999;
    font-size: 13px;
  }

  &__description {
    display: flex;
    justify-content: space-between;
  }

  &__contentDropdown {
    padding-top: 10px;
  }

  &__dropdownBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: $primary-color;
    border-bottom: 1px dashed #000;
    cursor: pointer;
    white-space: nowrap;
  }

  &__iconContainer {
    display: flex;
    align-items: center;
    padding: 2px;
    transition: transform .5s;

    &:hover .CartItem__arrowIcon {
      color: #fc8507;
    }
  }

  &__rotate {
    transform: rotate(180deg);
    color: green;
    transition: transform .5s;

    .CartItem__arrowIcon {
      color: green;
    }
  }

  &__arrowIcon {
    font-size: 16px;
    color: #8c8c8c;
  }

}