.CartItem {
  font-family: PTSans-Regular, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  @media(max-width: 800px) {
    padding: 10px 5px;
  }

  &__container {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    @media(max-width: 800px) {
      flex-wrap: wrap;
    }
  }

  &__imageContainer {
    margin: 0 20px 0 0;
    max-width: 120px;
    width: 100%;
    @media(max-width: 800px) {
      margin: 0 5px 0 0;
      max-width: 85px;
    }
  }

  &__image {
    color: #999;
    min-width: 100px;
    max-width: 120px;
    object-fit: contain;

    @media(max-width: 800px) {
      min-width: 75px;
      max-width: 80px;
    }
  }

  &__descriptionContainer {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    @media(max-width: 800px) {
      margin-right: 0;
    }

    h3 {
      font-weight: normal;
      font-size: 18px;
      line-height: 1.2em;
      overflow: hidden;
      margin-bottom: 8px;
      @media(max-width: 800px) {
        font-size: 16px;

        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }
  }

  &__maker {
    margin: 0;
    color: #777;
    @media(max-width: 800px) {
      font-size: 14px;

      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }

  &__buttonToDescription {
    display: flex;
    margin: auto 0 0;

    @media(max-width: 800px) {
      font-size: 14px;
      margin-top: 20px;
    }

    button {
      white-space: nowrap;
      cursor: pointer;
      background: #fff;
      border: none;
      outline: none;

      padding: 0;
      margin: 0 20px 0 0;
      box-shadow: none;
      color: gray;
      font-size: 14px;
      line-height: 1.42857;
      border-radius: 4px;

      @media(max-width: 800px) {
        margin: 0 30px 0 0;
      }

      &:hover:not([disabled]) {
        text-decoration: none;
        color: #e66800;
        cursor: pointer;
      }
    }
  }

  &__itemPrice {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 105px;
    @media(max-width: 800px) {
      flex-direction: row;
      flex-basis: 100%;
      align-items: center;
      justify-content: flex-end;
      padding-right: 10px;
      margin-top: 5px;
    }
  }

  &__price {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.4;
    color: #333;
    white-space: nowrap;
    margin-bottom: 30px;
    @media(max-width: 800px) {
      margin: 0 40px 0 0;
    }
  }

  &__countButtons {
    display: flex;
    font-size: 16px;
    line-height: 1.42857;
    color: #333;
    width: 100%;
    max-width: 105px;
  }

  &__countButton {
    box-shadow: none;
    background: #fff;
    color: #ababab;
    font-size: 22px;
    font-weight: bold;
    overflow: hidden;
    padding: 0;
    border: 1px solid #ddd;
    display: inline-block;
    height: 38px;
    text-align: center;
    vertical-align: top;
    width: calc(100% / 3);
    line-height: 1.5;
    outline: none;

    &:disabled {
      color: #ddd;
    }

    &:hover:not([disabled]) {
      border-color: #aaa;
      color: #333;
    }

    &:active:not([disabled]) {
      color: #fff;
      background: #e66800;
    }
  }

  &__countButtonMinus {
    border-radius: 8px 0 0 8px;
    border-right: none;
    color: #ddd;
  }

  &__countButtonPlus {
    border-radius: 0 8px 8px 0;
    border-left: none;
    color: #ddd;
  }

  &__countInput {
    border: 1px solid #ddd;
    display: inline-block;
    height: 38px;
    text-align: center;
    vertical-align: top;
    width: calc(100% / 3);
    border-left: none;
    border-right: none;
    font-size: 14px;
    line-height: 33px;
    color: #666;
    -webkit-appearance: none;
    border-radius: 0;
  }

  &__caption {
    margin-top: auto;
    color: #999;
    font-size: 13px;
  }

}