@import "../../../variables";

.SearchForm {
  flex: 1 1;
  position: relative;

  & input {
    border-radius: 25px;
    background: #eaeaea;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #333;
    min-height: 40px;
    padding: 7px 10px 7px 60px;
    line-height: normal;
    outline: none;
    transition: background .3s;

    &:hover, &:focus {
      background-color: #fff;
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    }
  }

  &__button {
    padding-left: 5px;
    background: $primary-color;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    color: #737373;
    border: none;
    font-size: 26px;
    outline: none;
    display: flex;
    align-items: center;

    img {
      border-style: none;
      width: 26px;
      height: 26px;
      color: #737373;
    }
  }

  &__icon{
    color: #fff;
    font-size: 22px;
  }
}