@import "../../../variables";

.SearchForm {
  flex: 1 1;
  position: relative;

  & input {
    border-radius: 25px;
    background: #eaeaea;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #333;
    min-height: 40px;
    padding: 7px 10px 7px 60px;
    line-height: normal;
    outline: none;
    transition: background .3s;

    &:hover, &:focus {
      background-color: #fff;
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    }
  }

  &__button {
    padding-left: 5px;
    background: $primary-color;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    color: #737373;
    border: none;
    font-size: 26px;
    outline: none;
    display: flex;
    align-items: center;

    img {
      border-style: none;
      width: 26px;
      height: 26px;
      color: #737373;
    }
  }

  &__icon {
    color: #fff;
    font-size: 22px;
  }

  &__dropdown {
    font-family: $secondary-font;
    font-size: 1.1rem;
    z-index: 3;
    min-width: 320px;
    position: absolute;
    //bottom: -123px;
    //left: 60px;
    bottom: -130px;
    left: 35px;
    list-style-type: none;
    color: #000;
    background-color: #fff;
    border: 1px solid $primary-color;
    border-top: none;
    cursor: pointer;
    visibility: hidden;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .5);
    border-radius: 10px;

    &_visible {
      visibility: visible;
    }
  }

  &__dropdownItem {

    padding: 3px 10px 3px 20px;

    &:hover, &:active, &:target {
      background-color: $secondary-color;
    }

    &_focus {
      background-color: $secondary-color;
    }

    &_darkbg {
      background-color: #d9d9d9;
    }
  }

  &__backdrop {
    z-index: 2;
    background: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}