.FooterDesktop {
  background: #1f5377;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  font-family: Evolventa, Helvetica, Arial, sans-serif;

  @media (max-width: 800px) {
    padding: 10px 0;
  }

  &__iconContainer {
    display: flex;
    align-items: center;

    &:first-child {
      margin-bottom: 15px;
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
  }

  &__iconVK {
    color: #1f5377;
    font-size: 26px;
  }

  &__listItem {
    margin-bottom: 3px;
    font-size: 1.1rem;
  }


  li {
    cursor: pointer;

    &:hover {
      color: #cdffcc;
      transform: scale(1.015);
      transition: all .2s;

      a {
        color: #cdffcc;
        text-shadow: 1px 1px #000;
      }
    }
  }


  &__bottomContainer_lineStyle {
    border-top: 1px solid #cdffcc;
    padding-top: 15px;
    @media (max-width: 800px) {
      text-align: left;
      padding-top: 5px;
    }
  }

  &__infoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;

    p {
      font-size: 1rem;
      line-height: 1.2rem;
      color: #6c8ea6;
    }
  }

  &__infoItem {
    min-width: 300px;

    a {
      color: #6c8ea6;
      line-height: 1.5rem;
      border-bottom: 1px solid #6c8ea6;

      &:hover {
        color: #cdffcc;
        transform: scale(1.015);
        transition: all .2s;
        text-shadow: 1px 1px #000;
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    padding: 0 0 20px;
    //border-top: 1px solid #fc8507;
    @media (max-width: 970px) {
      flex-wrap: wrap;
    }
    @media (max-width: 800px) {
      padding: 0 0 20px;
    }

  }

  &__logo {
    max-height: 95px;

    @media (max-width: 970px) {
      flex: 1 1 100%;
      margin-bottom: 30px;
      text-align: center;
    }
    @media (max-width: 800px) {
      margin-bottom: 0;
    }

    img {
      height: 95px;
      object-fit: contain;
    }
  }

  &__wrapperTop {
    padding: 0 30px;
    @media (max-width: 800px) {
      text-align: left;

      div {
        margin-top: 15px;
      }
    }
  }

  &__wrapperBottom {
    border: none;
  }


  img {
    width: 80%;
  }

  h6 {
    font-family: Evolventa, Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 1.3rem;
    margin-bottom: 8px;
    cursor: default;
  }

  ul {
    list-style: none;
  }

  ul li a {
    font-size: 16px;
    color: #fff;
  }
}