@import "../../../variables";

.ChangePassword {
  @keyframes boostText {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
      font-weight: bold;
    }
    100% {
      transform: scale(1);
    }
  }

  &__item {
    border: 1px solid #E5E5E5;
    padding: 7px 13px 22px 13px;
    min-height: 80px;
    min-width: 300px;
    margin-bottom: 10px;
  }

  &__element {
    max-width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 17px;

    &:first-child {
      margin-top: 5px;
    }

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__label {
    position: absolute;
    bottom: 4px;
    left: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    color: #999;
    transform: translateY(0);
    transition: transform .3s, font-size .3s;
  }

  &__input {
    max-width: 300px;
    outline: none;
    border-bottom: 1px solid $primary-color;
    padding: 5px 0;
    font-size: 1rem;
    line-height: 1.1rem;

    &:focus {
      border-bottom: 3px solid $secondary-color;
      padding-bottom: 3px;

      + .ChangePassword__label {
        font-size: .85rem;
        transform: translateY(-24px);
      }
    }

    &:valid {
      + .ChangePassword__label {
        font-size: .85rem;
        transform: translateY(-24px);
      }
    }

    &_error {
      border-bottom: 1px solid red;
    }
  }

  &__errorMessage {
    position: absolute;
    bottom: -18px;
    left: 0;
    color: #FF2F2F;
    font-size: .7rem;
    font-weight: 500;
    opacity: 0;
  }

  &__errorMessage_visible {
    animation: boostText .8s;
    display: inline-block !important;
    opacity: 1 !important;
  }
}