.Cards {
  font-family: Evolventa, PTSans-Regular, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 15px 20px 30px;
  color: #1f5377;

  @media (max-width: 800px) {
    padding: 0 0 65px;
  }

  &__searchPanel {
    background-color: #fff;
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .2);
    margin-bottom: 12px;
    transition: all .3s;

    &_center {
      background-color: transparent;
      box-shadow: none;
      @media (min-width: 550px) {
        padding: 0 13vw;
      }
    }

    &_text {
      padding: 0 20px;
      @media (min-width: 550px) {
        padding: 0 13vw;
      }
    }
  }

  div.Cards__logoPanel {
    visibility: hidden;
    transition: all .3s;
    max-height: 0;
    padding: 0;
    background-color: transparent;
    display: flex;
    align-items: center;

    p {
      color: #333;
    }

  }

  div.Cards__center {
    max-height: 65px;
    padding: 5px 16px;
    visibility: visible;
    margin-top: 30vh;
    transition: all .3s;
    @media (min-width: 550px) {
      padding: 5px 13vw;
    }

  }

  &__title {
    font-weight: 700;
    font-size: 1.6rem;
    margin: 0 0 7px 0;

    @media (max-width: 800px) {
      padding: 5px 20px 0;
      margin: 0 0 15px 0;
    }
  }

  &__topPanel {
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
  }

  &__topPanel-right {
    display: flex;
    align-items: center;

    p {
      margin-right: 7px;
    }
  }

  &__mainContainer {
    display: flex;
    align-items: flex-start;
  }

  &__cardList {
    width: 100%;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(auto-fill, minmax(276px, 1fr));
    grid-gap: 5px;
    margin: 0 auto;
  }

  &__SidebarCategories {
    @media (max-width: 1220px) {
      display: none;
    }
  }

}