.Cards {
  display: flex;
  flex-direction: column;
  padding: 0 20px 30px;

  &__title {
    font-weight: 700;
    font-size: 24px;
    margin: 0 0 30px 0;
    text-transform: uppercase;
  }

  &__mainContainer {
    display: flex;
    align-items: flex-start;
  }

  &__cardList {
    width: 100%;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(auto-fill, minmax(276px, 1fr));
    grid-gap: 1px;
    margin: 0 auto;
  }

  &__SidebarCategories {
    @media (max-width: 1220px) {
      display: none;
    }
  }

}