.stick-panel {
    font-size: 1.125rem;
    height: 56px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    flex: 0 0 56px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2), 0 2px 2px rgba(0, 0, 0, .12), 0 0 2px rgba(0, 0, 0, .14);

    font-weight: 600;
    white-space: nowrap;
    padding-left: 10px;
}

.stick-panel__item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 0 0 50px;
}

.stick-panel__item--catalog {
    flex: 1 0 auto;
    font-weight: 600;
    font-size: 18px;
    color: #1c257b;
    margin: 0 25px;
}

.stick-panel__item svg {
    fill: #1c257b;
    stroke: none;
    height: 24px;
    width: 24px;
}

.stick-panel__item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 0 0 50px;
}
.stick-panel__catalog-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 26px;
}

.stick-panel__img-catalog {
    position: absolute;
    top: 2px;
    left: 0;
    font-size: 20px;
    height: 26px;
    width: 26px;
    /*fill: #747474;*/
    color: #747474;
    /*stroke: none;*/
}

.stick-panel__counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(30%, -80%);
    border-radius: 12px;
    font-size: 13px;
    background-color: #B4FFCB;
    color: #747474;
    padding: 0 5px;
}

.stick-panel__image-cart {
    background: url("../../img/cartmin.png") center / contain no-repeat;
    height: 24px;
    width: 28px;
}

.className-hidden {
    visibility: hidden;
}

.stick-panel__catalog-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}