@import "../../variables";

.indexMobile {
  font-family: PTSans-Regular, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100%;
  font-size: 14px;
  padding-bottom: 50px;

  &__logoPanel {
    background-color: $primary-color;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 65px;
    padding: 7px 10px;

    a {
      display: flex;
      min-width: 110px;
      justify-content: space-between;
      color: #fff;
      font-size: 1rem;

      &:hover {
        color: $secondary-color
      }
    }
  }

  &__logo {
    height: 50px;
    width: 120px;
    display: flex;
    object-fit: contain;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
  }

  &__searchPanel {
    background-color: $bg-color;
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .2);
    margin-bottom: 12px;
  }
}
