$primary-font: Evolventa, Helvetica, Arial, sans-serif;
$primary-color: #1f5377;
$secondary-color: #95c11f;
$bg-color: #bbcbd6;
$bg-color-light: rgba(187, 203, 214, .3);
$box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
