/*Обнуление*/
*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none
}

.wrapper {
    all: inherit;
    max-width: 1240px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    /*max-width: 1440px;*/
}



body {
    font-family: PTSans-Regular, Helvetica, Arial, sans-serif;
    background-color: #f6f6f6;
}

.swiper-button-prev, .swiper-button-next {
    color: white;
}

.owerflowHidden {
    overflow: hidden;
}
