@keyframes bounceInLeft {
    0% {
        opacity: 0;

        transform: translateX(-400px);
    }
    60% {

        transform: translateX(30px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;

        transform: translateX(0);
    }
}
@keyframes scaleOn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

body {
    margin: 0;
    font-family: PTSans-Regular, Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: 'Oswald-Regular';
    src: url('./fonts/Oswald-Regular.ttf') format('truetype');

}

@font-face {
    font-family: 'PTSans-Regular';
    src: url('./fonts/PTSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PTSans-Bold';
    src: url('./fonts/PTSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansJP-Regular';
    src: url('./fonts/NotoSansJP-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'obliq';
    src: url('./fonts/Evolventa Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bold';
    src: url('./fonts/Evolventa Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'obliqblack';
    src: url('./fonts/Evolventa Oblique Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'regular';
    src: url('./fonts/Evolventa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}