.PopupCancelOrder {
  font-family: PTSans-Regular, Helvetica, Arial, sans-serif;
  width: 375px;
  min-height: 250px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 30px 25px;

  @media screen and (max-width: 400px) {
    width: 100%;
  }

  &__buttonContainer {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 120px 150px;
    margin: 0 auto;
  }

  &__button {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.2);
    font-size: 18px;
    display: block;
    cursor: pointer;
    background-color: transparent;
    transition: .1s ease-in-out;
    z-index: 6;

    &:active {
      transform: scale(.98);
      transition: .1s ease-in-out;
    }

    &:focus {
      outline: 1px solid greenyellow;
    }
  }

  &__button_active {
    background: linear-gradient(to top, #fc8507, #ffa218);
    border: 1px solid transparent;
    border-top-color: #fc8507;
    border-bottom-color: #ffa218;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;

    &:hover {
      color: #fff;
      background-image: linear-gradient(to bottom, #ffbc0b, #ff7400);
      box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
      border-top-color: #ffbc0b;
      border-bottom-color: #ff7400;
    }
  }

  &__buyTrue {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;

    p {
      margin: 10px 0;
    }
  }

  &__buyTrueContent {
    margin-bottom: 25px;
    font-size: 17px;
  }
}